/* Navigate through sections by searching "||" */
/* || CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-family: var(--body-font);
    background-color: var(--primary-light);
    overflow-x: hidden;
  }
  img, picture, svg {
    display: block;
    width: 100%;
  }
  input, button, select, a {
    font: inherit;
    color: inherit;
  }
  p, h1, h2, h3 {
    overflow-wrap: break-word;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }

/* || Root, CSS variables */
:root {
    /* || Typography */
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Kumbh Sans', sans-serif;

    /* || Colors */
    --primary-dark: rgb(19, 19, 26);
    --primary-light: #f1faee;
    --bg-test-2: #FFF5EE;
    --bg-test-3: #FFF4E6;
    --bg-test-4: #FFE5D9;
    --bg-test-5: #FFE5D9;
    --bg-test-5: #FAF3DD;
    --bg-test-5: #CFF4D2;

    --primary-green: rgb(64, 162, 38);
    --accent-clr-green: rgb(100, 111, 96);
    --accent-clr-2: #A8DADC;
    --accent-clr-3: #A8E6CF;
    --accent-clr-4: #FFD5B6;
}

/* || Utilities CSS */
.is-centered {
    max-width: 1300px;
    margin: 0 auto;
}

.flex-centered {
  display: flex;
  align-items: center;
  height: 100%;
}

.animated-element {
  position: relative;
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
}

.fixed {
  position: fixed;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

/* Custom CSS */
/* || Header - top header */
.header__top {
    display: none;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-size: .825rem;
    font-weight: 300;
}
.header__top-contact {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.header__list {
    border-collapse: collapse;
}

.header__item {
    border-left: 1px solid rgba(255, 255, 255, 0.29);
    border-right: 1px solid rgba(255 255 255 / 29%);
 }
  .header__item:hover {
    background-color: var(--primary-green);
    transition: background-color .3s ease-in;
  }

.header__social-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: .8rem 1rem;
}

 .fa-brands {
  font-size: 1.2rem;
}

 /* || Header - navigation */
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1.5rem;
  /* position: relative; */
  z-index: 1;
 }
.navbar__brand {
  width: 8rem;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 5.2rem 0 1rem;
  transition: transform .5s ease-in-out;
  -webkit-transition: transform .5s ease-in-out;
  background-color: rgb(64 162 38 / 90%);
  color: var(--primary-light);
  transform: translateX(100%);
  font-weight: 600;
  z-index: 9;
}
  .navbar__menu.active {
    transform: translateX(0);
  }
  .navbar__menu.inactive {
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    transform: translateX(100%);
  }

.navbar__item {
  padding: 1rem 0;
  transition: all .3s ease-in-out;
}
  .navbar__item:hover {
    background-color: var(--primary-green);
    color: var(--primary-light);
  }

.navbar__link {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Hamburger menu */
.navbar__hamburger {
  cursor: pointer;
  background-color: var(--primary-green);
  padding: .5rem;
  z-index: 9;
}
   .navbar__hamburger:hover .hamburger__bar:nth-child(1) {
    transform: rotate(-5deg);
  }
  .navbar__hamburger:hover .hamburger__bar:nth-child(3) {
    transform: rotate(5deg);
  }
  
  .navbar__hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .navbar__hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
    border-radius: 50%;
  }
  .navbar__hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 7px;
  border-radius: 50%;
  box-shadow: 0 1px 3px black;
  background-color: var(--primary-light);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* || Main Section */
  /* || Hero section */
.hero {
  position: relative;
  max-height: 60vh;
}
  .hero__image {
    object-fit: cover;
    max-height: 60vh;
  }
.hero__overlay {
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, rgb(241 250 238 / 70%) 0%, rgba(241,250,238,1) 57%, rgba(0,0,0,0) 85%);
  width: 100%;
  height: 100%;
}

.hero__content-ctn {
  max-width: clamp(30ch, 4vw + 1rem, 30ch);
  padding: 1rem;
}
  .hero__small-title {
   color: var(--primary-green);
   text-transform: uppercase;
   font-weight: 600;
   position: relative;
   padding-left: .5rem;
   margin-bottom: .5rem;
   font-size: clamp(.5rem, .4rem + 1vw, 1rem);
  }
  .hero__title {
    text-transform: capitalize;
    font-size: clamp(1.2rem, 1.1rem + 2vw, 4rem);
    margin-bottom: 3rem;
  }

    .hero__small-title::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: var(--primary-green);
      width: 2px;
      height: 90%;
      animation: display-slide 1.5s ease-in;
    }
  
  .hero__button {
    padding: 1rem 3rem;
    border: none;
    background: var(--primary-green);
    color: var(--primary-light);
    text-transform: uppercase;
    font-weight: 600;
  }

/* || Media Queries */
@media screen and (min-width: 48rem) {
  .header__top {
    display: block;
  }
  .is-centered {
    max-width: 960px;
    margin: 0 auto;
  }

  .hero__overlay {
    background: linear-gradient(90deg, rgb(241 250 238 / 10%) 0%, rgba(241,250,238,1) 37%, rgba(0,0,0,0) 65%);
  }

  .hero__content-ctn {
    max-width: clamp(55ch, 4vw + 1rem, 30ch);
  }
}

@media screen and (min-width: 64rem) {
  .is-centered {
    max-width: 1300px;
  }

  .navbar__brand {
    width: 12rem;
  }

  .navbar__menu {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    position: relative;
    height: 0;
    padding: 1rem 0;
    background-color: var(--primary-light);
    transform: translateX(0);
    color: var(--primary-dark);
    font-weight: 400;
  }
  .navbar__item:hover {
    background-color: var(--primary-light);
    color: var(--primary-dark);
  }
  .navbar__link {
    position: relative;
    width: 100%;
    padding-bottom: 8px;
  }
  .navbar__link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-clr-green);
    opacity: 0;
    transition: opacity .2s ease-in;
  }
    .navbar__link:hover::before {
      opacity: 1;
    }

  .contact__link {
    font-size: 1.1rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    background-color: var(--primary-green);
    color: var(--primary-light);
    font-weight: 600;
    transition: all .3s ease-in;
  }
    .contact__link:hover {
      background-color: var(--accent-clr-green);
      color: var(--primary-light);
    }

  .navbar__hamburger {
    display: none;
  }

}


/* || Keyframes */

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  50% {
    opacity: .5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes display-slide {
  0% {
    width: 50%;
  }
  100% {
    width: 2px;
  }
}