/* Navigate through sections by searching "||" */
/* || CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* font grows 1px for every 100px of viewport width */
    font-size: calc(1em + 1vw);
    font-family: var(--body-font);
  }
  img, picture, svg {
    display: block;
    max-width: 100%;
  }
  input, button, select, a {
    font: inherit;
    color: inherit;
  }
  p, h1, h2, h3 {
    overflow-wrap: break-word;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

/* || Root, CSS variables */
:root {
    /* || Typography */
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Kumbh Sans', sans-serif;

    /* || Colors */
    --bg-test-1: #F1FAEE;
    --bg-test-2: #FFF5EE;
    --bg-test-3: #FFF4E6;
    --bg-test-4: #FFE5D9;
    --bg-test-5: #FFE5D9;
    --bg-test-5: #FAF3DD;
    --bg-test-5: #CFF4D2;

    --accent-clr-1: #A8DADC;
    --accent-clr-2: #A8DADC;
    --accent-clr-3: #A8E6CF;
    --accent-clr-4: #FFD5B6;
}

/* || reusable CSS */
.is-centered {
    max-width: 1300px;
    margin: 0 auto;
}


/* Custom CSS */
/* || Header - top header */
.header__top {
    display: none;
    background-color: #222222;
    color: white;
    font-size: .825rem;
    font-weight: 300;
}
.header__top-contact {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.header__list {
    border-collapse: collapse;
}

.header__item {
    border-left: 1px solid rgba(255, 255, 255, 0.29);
    padding: .6rem 1rem;
 }.header__item:last-child {
    border-right: 1px solid rgba(255 255 255 / 29%);
 }

 /* || Header - navigation */
 .navbar {
  padding: 1rem 1.5rem;

 }
.navbar__brand {
  width: 5rem;
}
.fa-brands {
  font-size: 1rem;
}



/* || Media Queries */
@media screen and (min-width: 48rem) {
  .header__top {
    display: block;
  }
  .is-centered {
    max-width: 960px;
    margin: 0 auto;
}
}

@media screen and (min-width: 74.938) {
  .is-centered {
    max-width: 1300px;
}
}